# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual env
.venv/
env/
venv/
myenv/

# Chroma / vector store cache
.lsfs_db/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

db_multimodal/